main {
    @extend %flex-column;
    margin-bottom: 50px;
    h2{
        @extend %title;
        margin-bottom: 10px;
        
    }
    p{
        text-align: center;
        width: 60%;
        @extend %text-title;
        text-decoration: none;
    }
}